In [1]:
a_number = 34

In [2]:
if a_number % 2 == 0:
    print('We\'re inside of an if block')
    print('The given number {} is even'.format(a_number))

We're inside of an if block
The given number 34 is even

In [3]:
another_number = 34
if another_number % 2 == 0:
    print("We're inside an if block")
    print("The given number {} is even".format(another_number))

We're inside an if block
The given number 34 is even

In [4]:
another_number = 33

In [5]:
if another_number % 2 == 0:
    print('The given number {} is even.'.format(another_number))

In [6]:
if another_number % 2 == 0:
    print('The given number {} is even.'.format(another_number))
else:
    print('The given number {} is odd.'.format(another_number))

The given number 33 is odd.

In [7]:
if '':
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to False

In [8]:
if 'Hello':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [9]:

if None:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

In [10]:
a_number

34

In [11]:
parity = 'even' if a_number % 2 == 0 else 'odd'
print('The number {} is {}'.format(a_number, parity))

The number 34 is even

In [12]:
result = 'even' if a_number % 2 == 0 else 'odd'

In [13]:
result

'even'

In [14]:
type(result)

str

In [16]:
result = 1
i = 1
while i <= 100:
    result *= i
    i += 1
print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [17]:
%%time

result = 1
i = 1
while i <= 1000:
    result *= i
    i += 1
print(result)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: user 573 µs, sys: 5 µs, total: 578 µs
Wall time: 582 µs

In [18]:
line = '*'
max_length = 10
while len(line) < max_length:
    print(line)
    line += "*"

*
**
***
****
*****
******
*******
********
*********

In [19]:
i = 1
result = 1
while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution')
        break
    i+= 1
print('i', i)
print('result', result)

Magic number 42 reached! Stopping execution
i 42
result 1405006117752879898543142606244511569936384000000000

In [20]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

In [21]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [22]:
characters = 'Wednesday'
for character in characters:
    print(character)

W
e
d
n
e
s
d
a
y

In [23]:
for fruit in ('apple', 'banana', 'guava'):
    print('Here\'s a fruit: ', fruit)

Here's a fruit:  apple
Here's a fruit:  banana
Here's a fruit:  guava

In [24]:
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [25]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [26]:
for key_value_pari in person.items():
    print(key_value_pari)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

In [28]:
for key, value in person.items():
    print(key, ':', value)

name : John Doe
sex : Male
age : 32
married : True

In [29]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [30]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [31]:
for i in range(1,15,3):
    print(i)

1
4
7
10
13

In [37]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for index, value in enumerate(a_list):
    print(f'Index {index} value is {value}')

Index 0 value is Monday
Index 1 value is Tuesday
Index 2 value is Wednesday
Index 3 value is Thursday
Index 4 value is Friday

In [40]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in weekdays:
    print(f'Today is {day}')
    if(day == 'Wednesday'):
        print(f'I don\'t work in {day}')
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Monday
Today is Tuesday
Today is Tuesday
Today is Wednesday
I don't work in Wednesday
Today is Thursday
Today is Thursday
Today is Friday
Today is Friday