In [1]:
def say_hello():
    print('Hello there')
    print('HOW ARE you?')

In [2]:
say_hello()

Hello there
HOW ARE you?

In [5]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [7]:
even_list = filter_even([1,2,3,4,5,6,7,8,9,10])

In [8]:
even_list

[2, 4, 6, 8, 10]

In [9]:
def loan_emi(amount):
    emi = amount / 12
    print('The EMI is ${}'.format(emi))

loan_emi(1260000)

The EMI is $105000.0

In [10]:
def loan_emi(amount, duration):
    emi = amount / duration
    print('The EMI is ${}'.format(emi))

emi

NameError: name 'emi' is not defined

### Erro expected because it was local variable tha'ts why

In [11]:
loan_emi(1260000, 8*12)

The EMI is $13125.0

In [12]:
loan_emi(1260000, 10*12)

The EMI is $10500.0

In [13]:
def loan_emi(amount, duration):
    emi = amount / duration
    return emi

In [14]:
emi1 = loan_emi(1260000, 8*12)

In [15]:
emi2 = loan_emi(1260000, 10*12)

In [16]:
emi1

13125.0

In [17]:
emi2

10500.0

In [18]:
def loan_emi(amount, duration, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount / duration
    return emi

In [19]:
emi1 = loan_emi(1260000, 8 * 12, 3e5)

In [20]:
emi1

10000.0

In [21]:
emi2 = loan_emi(1260000, 10*12)

In [22]:
emi2

10500.0

In [23]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = (loan_amount * rate * (1+rate)**duration) / ((1+rate)**duration - 1)
    return emi

In [24]:
result = loan_emi(1260000, 8*12, 0.1/12, 3e5)

In [25]:
result

14567.19753389219

In [26]:
print(loan_emi(1260000, 10*12, 0.08/12))

15287.276888775077

In [27]:
emi1 = loan_emi(amount=1260000,duration=8*12,rate=0.1/12, down_payment=3e5)

In [28]:
emi1

14567.19753389219

#### Modules and library function

In [29]:
import math
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [30]:
?math.ceil

Signature: math.ceil(x, /)
Docstring:
Return the ceiling of x as an Integral.

This is the smallest integer >= x.
Type:      builtin_function_or_method

In [31]:
math.ceil(1.2)

2

In [32]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [33]:
emi1 = loan_emi(amount=1260000, duration=8*12,rate=0.1/12, down_payment=3e5)

In [34]:
emi1

14568

In [35]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [36]:
emi2

15288

In [37]:
if emi1 < emi2:
    print("Option 1 has the lower EMI: ${}".format(emi1))
else:
    print("Option 2 has the lower EMI: ${}".format(emi2))

Option 1 has the lower EMI: $14568

In [38]:
cost_of_house = 800000
home_loan_duration = 6*12 # months
home_loan_rate = 0.07/12 # monthly
home_down_payment = .25 * 800000

emi_house = loan_emi(amount=cost_of_house,
                     duration=home_loan_duration,
                     rate=home_loan_rate, 
                     down_payment=home_down_payment)

In [39]:
emi_house

10230

In [40]:
cost_of_car = 60000
car_loan_duration = 1*12
car_loan_rate = .12/12
emi_car = loan_emi(amount=cost_of_car, duration=car_loan_duration, rate=car_loan_rate, )

In [41]:
emi_car

5331

In [42]:
print("Shaun makes a total monthly payment of ${} towards loan repayments.".format(emi_house+emi_car))

Shaun makes a total monthly payment of $15561 towards loan repayments.

In [43]:
emi_wit_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_wit_interest

1267

In [44]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12)
emi_without_interest

ZeroDivisionError: float division by zero

In [45]:
try:
    print('Now computing the result...')
    result = 5 / 0
    print('Computing was completed successfully')
except ZeroDivisionError:
    print('Failed to compute result because you werer trying to divide by zero')
    result = None

print(result)

Now computing the result...
Failed to compute result because you werer trying to divide by zero
None

In [46]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [47]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

1267

In [48]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0)
emi_without_interest

834

In [49]:
total_interest = (emi_with_interest - emi_without_interest) * 10*12

In [50]:
print("The total interest paid is ${}.".format(total_interest))

The total interest paid is $51960.

In [35]:
import math
cities = [('Paris', 200, 20, 200), ('London', 250, 30, 120), ('Dubai', 370, 15, 80), ('Mumbai', 450, 10, 70)]
def least_amount(cities, duration=1):
    tota_cost = {}
    for city in cities:
        tota_cost[city[0]] = sum(city[1:len(city)]) + city[2]*duration
    return list(tota_cost.keys())[list(tota_cost.values()).index(min(tota_cost.values()))]


ans = least_amount(cities=cities,duration=14)
print(ans)

Mumbai

In [21]:
?sum

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

In [26]:
age = [2, 3, 5]
print(age[0:])

[2, 3, 5]

In [28]:
print(age[0:len(age):2])

[2, 5]

In [36]:
import math
cities = [('Paris', 200, 20, 200), ('London', 250, 30, 120), ('Dubai', 370, 15, 80), ('Mumbai', 450, 10, 70)]
def least_amount(cities, duration=1):
    tota_cost = {}
    for city in cities:
        tota_cost[city[0]] = sum(city[1:len(city)]) + city[2]*duration
    return list(tota_cost.keys())[list(tota_cost.values()).index(min(tota_cost.values()))]


ans = least_amount(cities=cities,duration=7)
print(ans)

Paris

In [38]:
import math
cities = [('Paris', 200, 20, 200), ('London', 250, 30, 120), ('Dubai', 370, 15, 80), ('Mumbai', 450, 10, 70)]
def least_amount(cities, duration=1):
    tota_cost = {}
    for city in cities:
        tota_cost[city[0]] = sum(city[1:len(city)]) + city[2]*duration
    return list(tota_cost.keys())[list(tota_cost.values()).index(min(tota_cost.values()))]


ans = least_amount(cities=cities,duration=14)
print(ans)

Mumbai

In [68]:
import math
cities = [('Paris', 200, 20, 200), ('London', 250, 30, 120), ('Dubai', 370, 15, 80), ('Mumbai', 450, 10, 70)]
def least_amount(cities, duration=1):
    tota_cost = {}
    for city in cities:
        tota_cost[city[0]] = sum(city[1:len(city)]) + city[2]*duration
    
    
    return list(tota_cost.values())
    # return list(tota_cost.keys())[list(tota_cost.values()).index(min(tota_cost.values()))]


ans = least_amount(cities=cities)
print(ans)

[440, 430, 480, 540]

In [62]:
1000//time_duration_for_vacation(cities=cities)[0]

2

In [60]:
time_duration_for_vacation(cities=cities, duration=35)

[1120, 1450, 990, 880]

In [70]:
[100, 299, 899] < [1000]

True

In [73]:
Paris=[200,20,200,'Paris']
London = [250,30,120,'London']
Dubai = [370,15,80,'Dubai']
Mumbai = [450,10,70,'Mumbai']
Cities = [Paris,London,Dubai,Mumbai]

In [74]:
def given_budget(budget,less_days=False):
    days=1
    cost=0
    while cost<budget:
        #copy of city cost 
        cost_before=cost
        try:
            #copy of costs dictionary, if exists
            costs_before=costs.copy()
        except:
            #if costs dictionary doesn't exist, create an empty dictionary
            costs_before={}
        costs={}
        for city in Cities:
            cost = cost_of_trip(city[0],city[1],city[2],days)
            costs[cost] = city[3]
        if less_days:
            cost=max(list(costs.keys()))
            ''' The while loop breaks only after cost>600 condition is met.
            when the condition is met, the costs dictionary updates to values that are greater than 600 
            so we check if it is exceeding, if it does, we return the values from the previous dictionary cost_before. '''
            if cost>=budget:
                return costs_before[cost_before],days-1
        else:   
            cost=min(list(costs.keys()))
            if cost>=budget:
                return costs_before[cost_before],days-1
        days+=1

In [75]:
city_to_stay_maximum_days=given_budget(1000)
print(city_to_stay_maximum_days)

NameError: name 'cost_of_trip' is not defined